{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
Add Member
{% endblock %}
{% block content %}

    <div  class="container bg-light shadow-lg p-4 form-layout">
    <h2>Add Member</h2>
        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-secondary" type="submit" value="Add Member" />
        </form>
    <a href="{% url 'members' %}">Back to Member List</a>
    </div>

{% endblock %}
